header {
    width: 1138px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #1E1E1E;
}

header .article-title {
    font-family: "Roboto SemiBold";
    font-weight: 500;
    font-size: 60px;
    display: flex;
    text-align: justify;
    margin-bottom: 11px;
    margin-top: 64px;
}

.navigation-subheader {
    width: 1138px;
    height: 61px;
    margin-bottom: 15px;
}