

body {
    background-color: white;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Roboto Medium";
    color: #1E1E1E;
}


/* TODO: Banner  */
.scrappy {
    margin-bottom: 17px;
    width: 1138px;
    height: 327px;
    align-items: center;
    border-bottom: #868484 solid 1px;
    display: flex;
    gap: 70px;
    justify-content: center;
}

.scrappy-header {
    width: 567px;
    height: 273px;
    position: relative;
}

.scrappy-header h1 {
    font-size: 54px;
    margin: 0 auto;
    text-align: justify;
    font-weight: 500;
}

.app-logo {
    display: flex;
    align-items: center;
    gap: 17px;
    height: 42px;
    margin-bottom: 18px;
}

#scrape-btn {
    border: 0;
    background-color: #5242DC;
    color: white;
    border-radius: 20px;
    font-weight: "Roboto Medium";
    font-weight: 500;
    width: 177px;
    height: 39px;
    font-size: 25px;
    position: absolute;
    right: 0;
    bottom: 25px;
    cursor: pointer;
}

.app-logo h3 {
    font-family: "Roboto Bold";
    font-weight: 500;
    font-size: 30px;
    color: #1E1E1E;
}

.app-logo img {
    width: 42px;
    height: 42px;
}

.highlight {
    color: #5242DC;
}

.scrappy-filter {
    width: 501px;
    height: 273px;
    border-left: #5242DC 2px solid;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 33px;
}

.scrappy-filter .publisher {
    height: 105px;
    width: 410px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.scrappy-filter .publisher .publisher-buttons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 13px 25px;
    height: 73px;
    width: 370px;
    justify-content: flex-end;
}

.scrappy-filter .section .section-buttons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 13px 25px;
    height: 73px;
    width: 450px;
    justify-content: flex-end;
}

.scrappy-filter .publisher button,
.scrappy-filter .section button {
    border: 1px solid #868484;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    font-size: 15px;
    color: #1E1E1E;
    font-family: "Roboto Regular";
    font-weight: 500;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
}

.scrappy-filter .section .section-buttons-container .selected {
    background-color: #5242DC;
    color: white;
    border: 1px solid #5242DC;
}

.scrappy-filter .section {
    width: 450px;
    height: 105px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.scrappy-filter h3 {
    margin: 0;
    font-family: "Roboto Medium";
    font-weight: 500;
    color: #1E1E1E;
    font-size: 20px;
    margin-bottom: 15px;
}


/* TODO: Navigations */
navigation {
    width: 1138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
}

.buttons-main-container {
    display: flex;
    gap: 45px;
}

.buttons-main-container .button-text {
    color: #1E1E1E;
    font-family: "Roboto Medium";
    font-size: 20px;
}

#latest-container,
#recent-container,
#news-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 43px;
    position: relative;
}


#latest-container::after,
#recent-container::after,
#news-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 100%;
  height: 3px;
  background: #5242DC;
  transform: scaleX(0);   
  transform-origin: left; 
  transition: transform 0.3s ease;
}

/* hover state */
#latest-container:hover::after,
#recent-container:hover::after,
#news-container:hover::after {
  transform: scaleX(1);   
}

/* disable hover underline on .selected */
.buttons-main-container .selected::after {
  transform: scaleX(1);          
  background: #5242DC;
  transition: none;              
}

.buttons-main-container .selected {
    border-bottom: 3px solid #5242DC;
}

.total-item-container {
    background-color: #5242DC;
    width: 30px;
    text-align: center;
    color: white;
    font-family: "Roboto Medium";
    font-size: 15px;
    border-radius: 20px;
}

#searchbar {
    width: 374px;
    height: 43px;
    padding-right: 39px;
    outline: none;
    font-family: "Roboto Medium";
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-bottom: 3px solid #5242DC;
}

.search-bar-container {
    width: 374px;
    position: relative;
    border: 0px;
}

.search-bar-container img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    bottom: 12px;
}

/* TODO: Main Contents */
main {
    width: 1138px;
    display: flex;
    height: 739px;
    justify-content: space-between;
}

#column1, #column2, #column3 {
    display: flex;
    width: 322.72px;
    flex-direction: column;
    gap: 70px;
}

.article-card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-card-title {
    display: flex;
    font-family: "Roboto SemiBold";
    font-weight: 500;
    font-size: 20px;
    color: #1E1E1E;
    text-align: justify;
}

.article-card-source-container {
    display: flex;
    gap: 10px;
    font-family: "Roboto Medium";
    font-weight: 500;
    font-size: 15px;
    color: #868484;
    align-items: center;
}

.just-circle {
    background-color: #868484;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.article-card-reliability-container {
    display: flex;
    align-items: center;
    height: auto;
    gap: 10px;
}

.article-reliability-real-icon {
    width: 19px;
    height: 19px;
}

.article-reliability-fake-icon {
    width: 15px;
    height: 15px;
}

.article-card-reliability-container span  {
   font-weight: 500;
   font-family: "Roboto Medium";
   font-size: 15px;
   color: #1E1E1E;
}

.reliability-real-text {
    color:#5242DC !important
}

.reliability-fake-text {
    color: #E86229 !important;
}